@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*,html{
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    font-size:15px !important;
}

:root{
    --dark-grey:#2f2f2f;
    --dark:#202020;
    --gold:#b4891c;
    --green-btn:#007985;
    --green-sec:#7b9925;
    --green-table:#1f6f4e;
    --white:#ffff;
    --silver:silver;
}

body{
    background:var(--dark);
}

/* navbar code */

body .navbar-flex .navbar-menu{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding:10px;
  height:60px;
  width:100%;
  background:var(--dark);
  color:var(--white);
}


body .navbar-flex .navbar-menu  span{
    margin-left:10px;
    color:var(--silver);
    font-size:17px !important;
}

body .navbar-flex .navbar-filters{
    background:var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:20px 10px;
}

body .navbar-flex .navbar-filters .not  svg,
body .navbar-flex .navbar-filters .not i{
    color: var(--gold);
    fill: red;
}

body .navbar-flex .navbar-filters .filter-area,
body .navbar-flex .navbar-filters .filters,
body .navbar-flex .navbar-filters .search-box{
    display: flex;
    align-items: center;
}

body .navbar-flex .navbar-filters .filters{
    border:3px solid black;
    background:black;
}

body .navbar-flex .navbar-filters .search-box{
    border:3px solid black;
    padding:0px 15px;
    color:var(--white);
}

body .navbar-flex .navbar-filters .search-box input{
     background: none !important;
     border: none;
     color: var(--white) !important;
     box-shadow: none !important;
     padding:10px 20px;
}

body .navbar-flex .navbar-filters .search-box input::placeholder{
    color:var(--white);
}

body .navbar-flex .navbar-filters .filters input,
body .navbar-flex .navbar-filters .filters button{
    background:var(--dark) !important;
    color:var(--white);
    border: none;
    border-radius:2px !important;
    padding:10px 20px;
    margin:0px 2px !important; 
}

body .navbar-flex .navbar-filters .filter-area button{
    background:var(--green-btn);
    min-width:150px;
    padding:10px 20px;
    margin-left:10px;
    color:var(--white);
    border-radius:2px !important;
}

body .drop-area{
     position: fixed;
     top:61px;
     left: 0px;
     width:100%;
}

body .drop-area .navbar-filters{
    display: none;
}

body .drop-area.active .navbar-filters{
    display: flex !important;
}

body .navbar-flex .toggle-filter-section{
    width:100%;
    border-top:4px solid var(--gold);
    display: flex;
    align-items: center;
    justify-content: center;
}

body  .toggle-filter-section .up{
    display: none; 
}

body  .drop-area.active .down{
    display: none !important;
}

body  .drop-area.active .toggle-filter-section  .up{
    display: block !important;
}

body  .toggle-filter-section .toggle{
    display: flex;
    align-items: center;
    min-width:100px;
    justify-content: center;
    font-weight:550;
    padding:10px;
    cursor: pointer;
    background-color: var(--gold);
    border-radius:2px;
    color:black !important;
}

body  .toggle-filter-section .toggle .ml-2{
    color:black !important;
    font-weight:550;
    margin-left:10px;
}

body  .dropdown-menu{
    background:var(--dark-grey) !important;
    color:var(--white) !important;
}

body  .dropdown-menu li,
body  .dropdown-menu li a{
     color:var(--white);
}

body  .dropdown-menu  a{
    padding:10px ;
    color:var(--white) !important;
    border-bottom:2px solid #2a2a2a !important;
}

body  .dropdown-menu li:last-child a{
    border-bottom:0px !important;
}

body  .dropdown-menu a:hover{
    background:var(--green-btn) !important;
}


body .navbar-flex .notifications .not{
    cursor: pointer;
}

body .navbar-flex .notifications  .dropdown-menu{
    min-width:400px;
    background-color: black !important;
    border:1px solid var(--dark-grey);
}

body .navbar-flex .notifications .item{
    display: flex; 
    width:100%;
    justify-content: space-between;
}

body .navbar-flex .notifications .item .space{
  display: flex;
  justify-content: space-between;
  width:100%;
}

body .navbar-flex .notifications .item .content{
    background:#484848;
    border-radius:2px;
    width:100%; 
    color:var(--white);
    padding:6px;
    cursor: pointer;
    margin-bottom:5px;
}

body .navbar-flex .notifications .item h5{
    font-size:14px !important;
    max-width:0px;
    margin:0px !important;
    color:var(--white);
}
body .navbar-flex .not{
    display: flex;
}
body .navbar-flex .not .icon{ 
  color: var(--gold);
  margin-left:5px;
}

body .navbar-flex .notifications .item .time{
    font-size:14px !important;
}

body .navbar-flex .notifications .item p{
    margin:0px;
    font-size:12px !important;
}

body .navbar-flex .notifications .dropdown-item:hover .delete-not{
    color:var(--dark);
}


body .navbar-flex .notifications .item .delete-not{
    margin-left:5px !important;
    cursor: pointer;
    color:var(--white);
    margin-top:5px;
}

body .navbar-flex .notifications  .clear{
    width:100%;
    background:var(--gold);
    color:black !important;
    font-weight:550;
    margin-top:5px;
    border-radius:2px;
}


body .navbar-flex .notifications  .pd{
     padding:0px 17px;
}

/**styling bootstrap calendar box **/

body .datepicker{
    padding:20px;
    background-color:#343a40 !important;
    font-size:14px !important;
    color:var(--white);
}


body .datepicker th,
body .datepicker td{
    font-size:13px !important;
    padding:5px !important;
}

body .datepicker  tbody{
    border-bottom:1px solid var(--silver);
    border-top:1px solid var(--silver);
    padding:10px 0px !important;
}

body .datepicker th{
    color:#1E88E5 !important;
}

body .datepicker .active.day{
    color: black !important;
    background: #1E88E5  !important;
}


body .datepicker .dropdown-menu{
    background-color: red !important; 
}


/** table-area **/

.table-box{
     padding:10px;
    min-height:80vh;
    max-height:85vh;
    overflow: auto;
    margin-top:60px; 
}

body .table-area{
    padding:30px 10px;
     background:var(--dark-grey);
    padding:5px;
    border-radius:4px;
}


body .table-box.mt{
    margin-top:150px !important; 
    max-height:70vh !important;
    min-height: 70vh !important
}

body .table-area table{
    width:100%;
    background: red;
}

body .table-area table,
body .table-area table tbody,
body .table-area table tbody tr{
    color:var(--silver);
    padding:0px !important;
    height: auto !important;
    background:var(--dark-grey) !important;
}

body .table-area table tbody tr{
    padding:5px 0px;
}

body  .task-container{
    background: red;
    width:100%;
    border-bottom:3px solid var(--dark) !important;
}

body  .task-container ul{
    padding:0px;
    margin:0px;
    padding-bottom:4px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center; 
}

body  .task-container .add-task{
    background:#214549 !important;
    width:40px;
    padding:0pc;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--white);
    cursor: pointer;
}
 

body table section{
    display: none !important;
    background: red !important;
}
 

body .table-area table tbody td {
    min-width: max-content;
    max-width: min-content;
    color:var(--silver);
    background: var(--dark-grey) !important;
}

body .table-area table tbody td .ct{
    width: max-content !important;
    background-color: var(--dark) !important;
    min-height:36px;
    padding:5px 10px;
    display: flex;
    width: max-content;
    align-items: center;
    border-radius:3px;
    color:var(--silver);
    margin:3px 0px;
    height: 45px;
}

body .table-area table td .edit{
    margin-left:5px !important;
    min-width:auto !important;
    background:var(--gold) !important;
}

body .table-area table .col-lg-12 .d-flex{
width:100% !important;
justify-content: flex-end; 
background: transparent !important;
}

body .table-area table .col-lg-12 .status{
    min-width:130px;
}

 

body .table-area table .icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

body .table-area table .icons .toggle{
    margin:0px 3px;
    cursor: pointer;
}

body .table-area table .icons .toggle span,
body .table-area table .icons i{
    font-size:30px;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



body .table-area table button{
    border-radius:2px;
    color:var(--white) !important;
    min-width:50px;
}

body .table-area table .st-apr{
    background:var(--green-sec);
}

body .table-area table .st-can{
    background: rgb(224, 5, 5) !important;
}

body .table-area table  .st-est{
    background:rgb(96, 96, 96) !important;
}

body .table-area table .st-pro{
    background:#16aea1 !important;
}

body .table-area table .st-end{
    background:#606f1f;
}

body .table-area table .dropdown-menu{
    background: #484848 !important;
}


body .table-area table .dropdown-menu a{
    border-bottom-width:1px !important;
    padding:6px 10px;
    color:var(--silver) !important;
    font-weight:400 !important;
    font-size:15px !important;
}


body  .task-container .task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:6px 15px;
    border-radius:4px;
    background:black;
    margin:5px;
    margin-right:10px;
    width:max-content;
    min-width:260px;
}

body  .task-container .task-item .title{
    font-size:12px;
    font-weight: normal; 
}

body  .task-container .task-item .actions{
    display: flex;
    margin-left:10px;
}

body  .task-container .task-item .it{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin:0px 6px;
     cursor: pointer;
}

body  .task-container .task-item .it .icon{
    color:var(--gold);
    margin-bottom:2px;
    font-size:14px !important;
}

body  .task-container .task-item .it  span{
    font-size:12px !important;
    color:var(--silver);
}

body  .task-container .task-item .it svg{
    width:15px !important;
    height:15px !important;
}

body  .task-container .task-item.done{
    border:1px solid #1f6f4e;
}

body  .task-container .task-item.progressb{
    border:1px solid red;
}

body  .task-container .task-item .stt{
    width:15px;
    height:15px;
    margin-bottom:8px;
    border-radius:100%;
}

body  .task-container .task-item.done .stt{
  background: #1f6f4e;
}

body  .task-container .task-item.progressb .stt{
    background: red;
}

body  .table-area  .up{
    display: none;
}

body  .table-area .task-container td ul{
    display: none;
}

body  .table-area .active .down{
  display: none;
}

body  .table-area .active .up,
body  .table-area .task-container.active td ul{
    display:flex !important;
}

body .table-area table .drop{
    background:#1f6f4e;
    min-width:100px;
    display: flex;
    align-items: center;
} 

body  .table-area .active  button.drop{
    color:black !important;
    background:#3fbe8a !important ;
}

 body .cll{
      margin-right:5px;
 }

 body .new-task{
     border:3px solid black;
 }

 body .add-task .space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:200px;
    color:var(--white);
    cursor: pointer;
 }


body .table-area .add-task  .dropdown-item,
body .table-area .add-task .dropdown-menu{
   background:var(--dark-grey) !important;
 }
 body .add-task .space .flex{
    display: flex;
    align-items: center;
 }

 body .add-task .space .icon{
    color:var(--gold);
    margin-right:5px;
 }

